<h1>Lists</h1>
 
  <% @lists.each do |list| %>
    <div>
      <%#= link_to list.title, list_path(list) %>
      <%= link_to list.title, edit_list_path(list) %>
    </div>
  <% end %>
  <div>
      <%= link_to "+", new_list_path() %>
  </div>
</table>