<h1>Lists</h1>
<% if user_signed_in? %>
  <h2>My Lists</h2>
  <% @lists.each do |list| %>
    <% if current_user == list.user %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to list.title, list_path(list) %></h5>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to fa_icon("plus-square"), new_list_path() %></h5>
    </div>
  </div>
<% end %>

  <h2>Public Lists</h2>
  <% @lists.each do |list| %>
    <% if list.public %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to list.title, list_path(list) %></h5>
        </div>
      </div>
    <% end %>
  <% end %>

  <h2>Favorite Lists</h2>
  <% @lists.each do |list| %>
    <% if Favorite.find_by(list_id: list.id, user: current_user) %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to list.title, list_path(list) %></h5>
        </div>
      </div>
    <% end %>
  <% end %>