<p>
<strong>Title:</strong>
<%= @list.title %>
</p>


<%= link_to "Todas as listas", lists_path() %>
<br>
<% if current_user == @list.user %>
    <%= link_to "Editar", edit_list_path() %>
    <%= link_to 'Apagar', list_path(@list),
    method: :delete,
    data: {confirm: "Tem certeza que deseja deletar?"} %>
<% end %>